:root {
  --primary: #004890;
  --primary_lighter: #4590c9;
  --primary_darker: #032844;
  --secondary: #da5b00;
  --gray: #444444;
  --gray_lighter: #CCCCCC;
  --gray_lightest: #F1F1F2;
  --shadow: #8080807d;
}

html {
  font-size: 16px;
  color: var(--gray);
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2.3rem;
  color: var(--primary);
}

h2 {
  font-size: 1.7rem;
  color: var(--primary);
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

button, .button__cta {
  background-color: var(--primary_lighter);
  padding: 1rem 2rem;
  color: var(--gray_lightest);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 0px 3px 1px var(--shadow);
  margin-bottom: 2rem;
  cursor: pointer;
}

.button__cta {
  background-color: var(--secondary);
}
@media (max-width: 600px) {
  .button__cta {
    width: 100%;
  }
}

@supports (display: grid) {
  .imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}
.imageGallery img {
  width: 100%;
}
.imageGallery .card {
  box-shadow: 0px 0px 3px 1px var(--shadow);
  padding: 1rem;
}
@media (min-width: 1500px) {
  .imageGallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .imageGallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .imageGallery {
    grid-template-columns: 1fr;
  }
}

.hero img {
  width: 100%;
}

header {
  padding: 0 15rem;
  margin: 3rem 0;
}
@media (min-width: 601px) and (max-width: 1024px) {
  header {
    padding: 0 5rem;
  }
}
@media (max-width: 600px) {
  header {
    padding: 0 2rem;
  }
}
header h2 {
  font-size: 1.3rem;
  margin-left: 9.5rem;
  font-weight: 100;
}
@media (max-width: 600px) {
  header h2 {
    margin-left: 0;
  }
}

#about {
  margin: 5rem 15rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
  #about {
    margin: 2.5rem 7.5rem;
  }
}
@media (max-width: 600px) {
  #about {
    margin: 2.5rem 2rem;
  }
}

#examples {
  margin: 5rem 15rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
  #examples {
    margin: 2.5rem 7.5rem;
  }
}
@media (max-width: 600px) {
  #examples {
    margin: 2.5rem 2rem;
  }
}

#locations {
  margin: 5rem 15rem;
}
@media (min-width: 601px) and (max-width: 1024px) {
  #locations {
    margin: 2.5rem 7.5rem;
  }
}
@media (max-width: 600px) {
  #locations {
    margin: 2.5rem 2rem;
  }
}

nav {
  border-bottom: solid 1px var(--gray_lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem 0rem 15rem;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 1rem;
  list-style-type: none;
}
nav a {
  color: var(--gray);
  font-weight: 700;
}
@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    padding: 0rem 3rem;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 0rem 2rem;
  }
}
